@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@700&display=swap');

@import 'tailwindcss';

html {
  @apply scroll-smooth  overflow-x-hidden transition-colors duration-400;
}

/* ==== DARK THEME VARIABLES ==== */
.dark {
  --primary-color: #202020;
  --text-color: #f8f9fa;
  --o-color: rgba(0, 0, 0, 0.7);
  --bo-color: rgba(255, 255, 255, 0.2);
  --btn-color: #0d6efd;
  --section-color: #1e1e1e;
  background-color: black;
  color: var(--text-color);
}

/* === Dark Theme Section Styles === */

/* HOME SECTION */
 .dark .home {
  @apply bg-[var(--primary-color)]
}

/* SKILLS SECTION */
.dark .skills {
  background:
    linear-gradient(to bottom, rgba(--bo-color), rgba(--bo-color), url(Assets/img/skill-bg.webp));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark .skill-heading{
  color: black;
}

.dark input::placeholder,
.dark textarea::placeholder{
  @apply text-white/60
}


/* Make text and buttons pop */
.dark h1,
.dark h2,
.dark p,
.dark strong {
color: var(--text-color);
}

 .dark .btn {
  border-color: white;
  color: var(--text-color);
}

.dark .btn:hover {
  background: var(--btn-color);
  color: #fff;
  border-color: transparent;
}

/* NAVBAR dark background */
.dark header {
  background: var(--primary-color);
}


/* Theme Toggle Btn */

.dark .theme-btn{
  @apply bg-[var(--o-color)]
}



/* Dark Theme Swiper Bullet */

 .dark .swiper .swiper-pagination-bullet {
  @apply bg-[var(--text-color)];
  opacity: 0.5;
}

.dark .swiper .swiper-pagination-bullet-active {
  opacity: 1;
}






h1,
h2,
h3,
h4 {
  @apply font-rubik font-bold mb-2.5 uppercase;
}

h1 {
  @apply text-4xl  md:text-6xl;
}

h2 {
  @apply text-2xl  lg:text-3xl;
}

h3 {
  @apply text-2xl  lg:text-[20px];
}

h4 {
  @apply text-xl  lg:text-[18px];
}

section {
  @apply pt-15 lg:pt-20 bg-[var(--section-color)] relative;
}

p {
  @apply text-[14px] md:text-[15px];
}

/* px-5 md:px-10  */

/* colors */

@theme {
  --primary-color: #f8f9fa;

  --text-color: #212529;

  --o-color: rgba(225, 225, 225, 0.6);

  --bo-color: rgba(22, 36, 84, 0.6);

  --btn-color: #007bff;

  --section-color: #e9ecef;
}

/* font family */

@theme {
  --font-rubik: 'Rubik', Arial; /* for Heading  */

  --font-poppins: 'poppins', sans-serif; /* Body text */
}

/* Header Area */
.active {
  @apply font-semibold text-[var(--btn-color)];
}

/* CTA butttons */

.btn {
  @apply border-2 p-2.5 flex cursor-pointer items-center justify-center sm:justify-end  rounded-4xl transition duration-300;
}

/* svg Icon */

svg {
  @apply w-[20px] h-[20px] lg:w-[17px] lg:h-[17px] fill-current ml-2.5;
}

/* Swiper Bullet */

.swiper .swiper-pagination-bullet {
  @apply bg-[var(--btn-color)];
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  opacity: 1;
}


